<?xml version="1.0" encoding="utf-8"?>
<Overrides>
	<Override xpath="/CommunityServer/CentralizedFileStorage" 
			  mode="add" 
			  where="end">
		<fileStoreGroup name="amazonS3" 
		                default="false" 
						type="Telligent.Extensions.AmazonS3.AmazonS3FileStorageProvider, Telligent.Extensions.AmazonS3" 
						secure="true"  
						bucket="[AMAZON S3 BUCKET NAME]" 
						awsAccessKeyId="[S3 ACCESS KEY]" 
						awsSecretAccessKey="[S3 SECRET KEY]" >
			<fileStore name="[FILE STORE NAME]" />
		</fileStoreGroup>
	</Override>
</Overrides>
